@import '../../assets/css/_base.scss';

.widget {
    .widget-title {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.1rem;
    }

    ul {
        border: 1px solid #ddd;
        padding: 0;

        li {
            list-style: none;
            padding: 10px;

            a {
                display: flex;
                font-weight: normal;
                text-decoration: none;
                img {
                    width: 25%;
                    height: 50%;
                }
                .widget-text-box {
                    margin-left: 20px;

                    span {
                        color: #000;
                        font-size: 0.9rem;
                    }

                    .text-price {
                        color: #000;
                        font-weight: 600;
                    }
                }

                &:hover {
                    span {
                        color: $hover-color;
                    }
                }
            }
        }
    }
}

.related-product {
    .product-item {
        max-width: 90%;
        border : 1px dashed #333;
    }
}
